@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
      
    </section>
}

<body>
    <h3 style="text-align: right; color: #00BFFF; font-size:x-large">TagCloud</h3>
    
        <div style="float: right; width: 50px; color:lightcyan;">
            @Html.Raw(Html.TagCloud())
        </div>
        <div style="float: right; width: 125px; color:lightcyan">
            @Html.Raw(Html.TagRelationCloud())
        </div>           
        </div>
   
</body>